body {
  background: url(img/BR-pt-20220307-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 12px;
  color: #999;
}

#all {
  background-color: rgba(0, 0, 0, 0.405);
}

#logo {
  background-image: linear-gradient(to bottom, #000000de 0%, #00000000 100%);
  padding: 10px;
}

#logo img {
  width: 180px;
  margin: 20px;
}

div#content {
  margin: auto;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  box-shadow: 0 0 10px #000;
  border-radius: 5px;
}
div#content h1 {
  color: white;
}

div#content input {
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
}
div#content input[type="email"],
div#content input[type="password"] {
  background-color: #444;
  width: 85%;
}
div#content input[type="submit"] {
  width: 94%;
  background-color: red;
  color: #fff;
  font-weight: bold;
}

div#content input[type="checkbox"] {
  margin-top: 20px;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  text-decoration: underline;
}
#cadastro {
  font-size: 16px;
}

#cadastro a {
  color: white;
}

#captcha a {
  color: blue;
}

footer {
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: left;
  color: white;
  font-size: 14px;
}

div#content-footer {
  margin-left: 10%;
  margin-right: 10%;
}

div#content-footer,
div#content-footer a {
  color: #777;
}

div#content-footer #duvidas {
  font-size: 16px;
}

div#content-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div#content-footer ul li {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

div#content-footer select {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #555;
  font-size: 16px;
  background-color: black;
  color: #777;
}
