.page {
    display: grid;
    padding: 10px;
    font-family: Arial, sans-serif;
    grid-gap: 10px;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    background-color: #eee;
  }
  
  .item {
    padding: 10px 0;
    text-align: center;
    background-color: #ccc;
  }
  
  .header { grid-area: header; }
  .menu { grid-area: menu; }
  .main { grid-area: main; }
  .right { grid-area: right; }
  .footer { grid-area: footer; }